:root {
	--white-bg: #f6f6f6;
	--black-bg: #1d1d1d;
	--white-text: #fff;
	--black-text: #1d1d1d;
	--blue: #00273D;
	--green: #B5D44F;
	--light-blue: #263D51;
	--text: 'Helvetica Neue', sans-serif;
	--primary-title: 48px;
	--transition: .6s;
}
* {
	box-sizing: border-box;
	
}
body,h1,h2,h3,h4,h5,h6,p,ul,li,a {font-family: var(--text);}

body, html {
	width: 100%;
	height: 100%;
	margin: 0;
}
html {
	font-size: 62.5%;
}
h1 {
	font-size: var(--primary-title);
	color: var(--blue);
	line-height: 1.2em;
	font-weight: 300;
}
h2 {
	color: var(--blue);
	text-align: left;
	line-height: 1.2em;
}
p, ul, ul li, a, .dots {
	text-align: left;
	font-size: 18px;
	line-height: 1.7;
}
ul {
	list-style: none;
}
.icon-list-items {
	padding-left: 0;
}
.icon-list-item {
	display: flex;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	text-align: left;
}
.icon-list-icon i {
	color: var(--green);
}
.icon-list-text {
	margin-left: 10px;
}
a {
	text-decoration: none;
}
header {
	display: flex;
	justify-content: center;
	width: 100%;
	position: fixed;
	z-index:999;
}
.container {
	max-width: 1140px;
	width: 100%;
	margin: 0 auto;
	position: relative;
	z-index: 10;
}
section {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	position: relative;
	width: 100%;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
img {
	max-width: 100%;
}
.left, .right {
	width: 50%;
	position: relative;
}
.white :where(h1,h2,h3,h4,p,li) {
	color: var(--white-text);
}
.white :where(p,li) {
	font-weight: 400;
}
.align-left {
	text-align: left;
}
.reviews {
	font-size: 20px;
	font-weight: 300;
}
.main-banner {
	background-image: url('../assets/main-banner.webp');
	height: 100vh;
	width: 100%;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}
.overlay, .blue-overlay {
	background: transparent;
	opacity: 0.5;
	background-image: linear-gradient(180deg, var(--black-bg) 78%, var(--green) 100%);
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
}
.blue-overlay {
	background-image: none;
	background-color: var(--blue);
	opacity: .85;
}
.shape {
	position: absolute;
	left: 0;
	bottom: 0;
	transform-origin: bottom;
	width: 100%;
	z-index: 2;
	overflow: hidden;
}

.banner-content {
	z-index: 1;
	position: relative;
	text-align: center;
}
.banner-content h1 {
	font-weight: 300;
	font-size: 62px;
	line-height: 1em;
}
.banner-content h1 b {
	font-weight: 900;
}
.banner-content h2 {
	font-size: 21px;
	font-weight: 200;
	margin-bottom: 2em;
	color: var(--white-text);
	text-align: center;
}
.banner-content p {
	text-align: center;
}
.buttons svg {
	max-height: 50px;
	transition: var(--transition);
}
.buttons svg:hover {
	transform: translateY(-10px);
}
.green {
	color: var(--green);
}
.first-section {
	margin-bottom: 5em;
}
.first-wrapper {
	display: flex;
	width: 100%;
	margin-top: 5em;
}
.first-wrapper .left {
	width: 36%;
}
.first-wrapper .left img {
	width: 277px;
}
.first-wrapper .right {
	width: 64%;
	padding: 0 2em;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: start;
}
.first-wrapper .right img {
	width: 546px;
}
.first-content {
	margin-top: 2em;
	border-left: 6px solid var(--green);
	padding: 0em 8em 0em 2em;
}
.blue-bg {
	background-color: var(--blue);
}
.second-section {
	padding: 7% 12% 10% 12%;
	background-image: url(../assets/main-banner.webp);
}
/* erase when video section activated */
.second-section.provisional {
	padding: 15em 0 0;
	background-image: url(../assets/4-bg.webp); 
}
/* eraste till here */
.second-wrapper {
	display: flex;
	position: relative;
	z-index: 2;
}
.second-wrapper :is(.left,.right) {
	width: 50%;
}
.second-wrapper .right :where(h1,p,.buttons) {
	text-align: left;
}
.second-wrapper .buttons {
	justify-content: start;
}
.second-wrapper .right {
	padding-left: 15%;
}
.shape2 {
	top: 0;
}
.third-section {
	margin: 10em 0;
	flex-direction: column;
}
.video {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
	border-radius: 15px;
	box-shadow: 2px 40px 78px -37px var(--blue);
}
.video iframe {
	position: absolute;
	top:0;
	left: 0;
	width: 100%;
	height: 100%;
}
.awards {
	display: flex;
	justify-content: space-around;
	margin-top: 10em;
}
.a-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 130px;
}
.a-img-box {
	display: flex;
	justify-content: center;
	align-items: center;
}
.a-img-box img {
	max-height: 60px;
}
.fourth-section {
	background-image: url(../assets/4-bg.webp);
	padding: 15em 0;
}
.fourth-wrapper {
	display: flex;
	flex-direction: row;
}
/* erase on video section */
.fourth-wrapper {
	flex-direction: row-reverse;
}
/* erase till here */
.fourth-wrapper .left {
	width: 65%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}
.fourth-wrapper .right {
	width: 35%;
	padding-left: 5%;
}
.fourth-wrapper .left img, .fifth-wrapper .img-wrapper img:nth-child(even) {
	width: 235px;
}

.fourth-wrapper .left img:nth-child(odd), .fifth-wrapper .img-wrapper img:nth-child(odd) {
	width: 200px;
	overflow: hidden;
	border-radius: 20px;
	box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 50%);
}
.fifth-wrapper {
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
	padding: 15em 0;
}
.fifth-wrapper .img-wrapper {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	width: 100%;
}
.fifth-wrapper .img-wrapper img {
	max-width: 50%;
}
.fifth-wrapper .right > img {
	position: absolute;
	left: 50%;
	top: 70%;
	transform: translate(-50%, -50%);
	z-index: -1;
}
/* slider  */

#slider {
	position: relative;
	width: 500px; 
	overflow: hidden;
	padding: 20px 0;
	margin: 0 auto;
}
#slider ul {
	position: relative;
	list-style: none;
	height: 100%;
	width: 10000%;
	padding: 15px 0 0;
	margin: 0;
	transition: all 750ms ease;
	left: 0;
}
#slider ul li {
	position: relative;
	height: 100%; 
	float: left;
	z-index: 1;
}
#slider ul li img{
	width: 280px;
	margin: 0 110px;
	border-radius: 25px;
	overflow: hidden;
}

#slider #prev, #slider #next {
	width: 50px;
	line-height: 50px;
	border-radius: 50%;
	font-size: 2rem;
	text-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
	text-align: center;
	color: white;
	text-decoration: none;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	transition: all 150ms ease;
	z-index: 2;
	cursor: pointer;
}
#slider #prev:hover, #slider #next:hover {
	background-color: rgba(0, 0, 0, 0.5);
	text-shadow: 0;
}
#slider #prev {
	left: 10px;
}
#slider #next {
	right: 10px;
}
.sixth-section {
	background-image: url(../assets/sixth-bg.webp);
	padding-bottom: 10em;
	background-attachment: fixed;
}
.iphone-border {
	position: absolute;
	z-index: 10;
	max-width: 100%;
	width: 315px;
	left: 50%;
	transform: translateX(-50%);
}
.sixth-wrapper .left {
	width: 65%;
}
.sixth-wrapper .right {
	width: 35%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 0;
}
.seventh-section .img-wrapper {
	flex-direction: row-reverse;
}
.eighth-section {
	background-image: url(../assets/eighth.webp);
}
.eighth-wrapper .right {
	padding-left: 0;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-direction: column;
}
.eighth-wrapper .left img {
	max-width: 255px;
}
.shape-reversed {
	bottom: -1px;
	top: unset;
	transform: rotate(180deg);
	transform-origin: unset;
}
.ninth-section {
	padding: 5em 0 10em;
}
.container.ninth-container {
	max-width: 750px;
}

.ninth-container p {
	max-width: 600px;
	text-align: center;
	font-size: 18px;
	margin: 0 auto 2em;
}
.ninth-container a.register-btn {
	position: relative;
	top: 15px;
	margin-top: 2em;
	font-size: 20px;
	font-weight: 500;
	text-decoration: underline;
	fill: var( --green );
	color: var( --green );
	transition: var(--transition);
}
.ninth-container a.register-btn:hover {
	fill: var( --blue );
	color: var( --blue );
}
.align-center {
	text-align: center;
}
footer {
	position: relative;
	background-image: url(../assets/footer.webp);
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
footer .footer-container {
	padding: 10em 0 5em;
}
footer .footer-logo {
	margin: 0 auto;
	max-width: 237px;
}
footer .top :is(h2,p) {
	text-align: center;
}
footer h2 {
	font-size: 34px;
}
footer .social-media {
	display: flex;
	justify-content: space-around;
	max-width: 175px;
	margin: 0 auto;
}

footer .social-media a {
	color: var(--white-text);
	font-size: 24px;
	transition: var(--transition);
}
footer .bot {
	padding: 5em 0 0;
	border-top: 1px solid #ffffff40;
	margin-top: 5em;
	display: flex;
	justify-content: space-evenly;
	text-align: center;
	flex-wrap: wrap;
}
footer .bot-box {
	min-width: 250px;
}
footer .bot a {
	color: white;
	text-decoration: none;
	transition: var(--transition);
}
footer .bot a, footer .bot p {
	text-align: center;
}
footer .bot a:hover, footer .social-media a:hover {
	color: var(--green);
}
footer .bot h4 {
	font-size: 18px;
	color: var(--green);
	font-weight: 300;
}
footer .bot :is(p, a) {
	font-size: 12px;
}
footer .footer-shape {
	fill: #fff;
	height: 72px;
	position: relative;
	z-index: 2;
	width: 100%;
}
@media screen and (max-width: 512px) {
	section, .footer-container {
		flex-wrap: wrap;
		padding-left:20px !important;
		padding-right: 20px !important;
	}
	h1 {
    font-size: 4em;
}
	.main-banner {
		background-position: 64%;
	}
	.first-shape {
		transform: scale(2.5) translateX(-5%);
		transform-origin: center;
	}
	.first-content {
		padding-right: 0;
	}
	.first-content h2 {
		font-size: 2em;
	}
	.second-wrapper .right {
		padding: 0;
	}
	.first-wrapper, .second-wrapper,.second-wrapper, .fourth-wrapper, .fifth-wrapper {
		flex-direction: column;
	}
	.r-mobile {
		flex-direction: column-reverse;
	}
	.left, .right, .second-wrapper :is(.left,.right) {
		width: 100% !important;
	}
	#slider {
		transform: scale(0.7);
		transform-origin: left;
	}
	.fourth-wrapper .left img {
		width: 130px;
		margin: 0 5px;
	}
	.fifth-wrapper .img-wrapper img:nth-child(odd) {
		width: 150px;
	}
	.eighth-section {
		padding: 10em 0;
	}
	svg.svg-mobile{
		height: 100px;
	}
	.shape2 {
		top: -1px;
	}
	.shape-reversed {
		top: 0;
		bottom: -2px;
	}
	footer .footer-shape {
		top: -1px;
	}
}